*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.title{
position: absolute;
width: 269px;
height: 22px;
left: 120px;
top: 114px;
}

.title h3{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
}

main{
    position:relative;
    top:160px;
    left:105px;
    display:flex;
    flex-wrap:wrap;
    /* justify-content: center; */
}

.movie{
width: 282px;
height: 348px;
border: 1px solid #E1E3E6;
box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);
border-radius: 8px;
margin:1rem;
justify-content: center;
align-items: center;
transition:0.5s ease-in;
cursor:pointer;
}

.movie:hover{
    transform: scale(1.04);
}

.movie img{
width: 280px;
height: 302px;
border-radius: 7px 7px 0px 0px;
}

.movie-name{
    /* border:2px solid red; */
    position:relative;
    top: -39px;
    height:45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-name span{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    cursor:pointer;
}

.movie-rating{
    border:2px solid black;
    position:relative;
    width: 34px;
    height: 34px;
    top:-293px;
    left:15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.01em;
    border-radius:15px;
}

.movie-rating span{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
}


.modal:before{
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:fixed;
    background-color:rgba(0,0,0,0.5);
    /* backdrop-filter: blur(2px); */
    z-index: 10;
}

.modal-content{
    display:flex;
    position: fixed;
    background-color: white;
    top:15%;
    left:30%;
    flex-direction: column;
    width: 583px;
    height: 474px;
}

.modal-content h3{
position:relative;
left:20px;
top:10px;
width: 184px;
height: 21px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
/* or 156% */
align-items: center;
letter-spacing: -0.01em;
}

.movie-img{
    width: 266px;
    height: 389px;
    position:relative;
    top:12px;
    left:20px;
}

.movie-img img{
    width:100%;
    height:100%;
}

.modal-content i{
    position:relative;
    left:550px;
    top:-5px;
    cursor:pointer;
}

.modal-content i:hover{
    color:red;
}

.modal-main-content{
    /* border:2px solid red; */
    display:flex;
    position:relative;
    top:-370px;
    left:300px;
    width:241px;
    height:800px;
    flex-direction:column;
}


.modal-content p{
margin-top:10px;
width: 241px;
height: 190px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.01em;
overflow: hidden;
color: #000000;
}

.modal-rating{
 position:relative;
}

.modal-rating span{
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    
    color: #000000;
}

